extends base

block content
  main.main
    .h1 Esse projeto foi desenvolvido com o intuito de aprender sobre o framework Express.js, o banco de dados MongoDB e o template engine Pug.js e aperfeiçoar conhecimento de Javascript e node.js. O projeto consiste em uma API RESTful que aceita pagamentos de cartão de crédito usando Stripe. O projeto foi desenvolvido com base no curso de Node.js da Udemy, ministrado por Jonas Schmedtmann.
    .h1 Todo o design e templates visuais, HTML e CSS, foi fornecido pela Udemy.
    .h1 Aluno: Marcos Florencio
    .h1 Github: https://github.com/themarcosf/natours-api
    .h1 Linkedin: https://www.linkedin.com/in/marcos-florencio-ds/ 
    .card-container

      each tour in tours
        .card
          .card__header
            .card__picture
              .card__picture-overlay &nbsp;
              img.card__picture-img(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`)
            h3.heading-tertirary
              span= tour.name
  
          .card__details
            h4.card__sub-heading= `${tour.difficulty} ${tour.duration}-day tour`
            p.card__text= tour.summary
            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-map-pin')
              span= tour.startLocation.description
            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-calendar')
              span= tour.startDates[0].toLocaleString("en-us", {month: "long", year: "numeric"})
            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-flag')
              span= `${tour.locations.length} stops`
            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-user')
              span= `${tour.maxGroupSize} people`
  
          .card__footer
            p
              span.card__footer-value= `$ ${tour.price}`
              | 
              span.card__footer-text per person
            p.card__ratings
              span.card__footer-value= `${tour.ratingsAverage}`
              | 
              span.card__footer-text= `rating (${tour.ratingsQuantity})`
            a.btn.btn--green.btn--small(href=`/tour/${tour.slug}`) Details